{% extends 'stages/Backoffice/base_dashboard.html' %}

{% block title %}Events - Backoffice{% endblock %}
{% block breadcrumb %}Events{% endblock %}
{% block page_title %}Events{% endblock %}

{% block content %}
<div class="row mt-5">
  <div class="col-12">
    <div class="card">
      <div class="card-body text-center py-5">
        <h5 class="text-muted">Page Events</h5>
        <p class="text-muted">Cette page est vide pour le moment.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

